<div class="item-feature">
    <h5>Features :</h5>
    <ul>
        <li>
            <p>Model : {{item.model}} </p>
        </li>
        <li>
            <p>Battery : {{item.batteryType}}</p>
        </li>
        <li>
            <p>Charging Time : {{item.chargeTime}}</p>
        </li>
        <li>
            <p>Bluetooth version : {{item.BTVersion}}</p>
        </li>
        <li>
            <p>Bluetooth Range : {{item.BTRange}}</p>
        </li>
        <li>
            <p>USB Compatability : {{item.usbCompatability}}</p>
        </li>
        <li>
            <p>Microphone : {{item.micTech}}</p>
        </li>
        <li>
            <p>SD Card : {{item.sdCard}}</p>
        </li>
    </ul>
</div>