<div class="item-feature">



    <h5>Features :</h5>
    <ul>


      
        
        <li>
            <p>Weight : {{item.weight}}</p>
        </li>
        <li>
            <p>OS : {{item.os}}</p>
        </li>
        <li>
            <p>Internal Memory : {{item.internalMemory}}</p>
        </li>
        <li>
            <p>Ram : {{item.ram}}</p>
        </li>
        <li>
            <p>Processor : {{item.processor}}</p>
        </li>
        <li>
            <p>Processor Speed : {{item.processorSpeed}}</p>
        </li>
        <li>
            <p>Generation : {{item.generation}}</p>
        </li>
        <li>
            <p>Graphics Card : {{item.graphicsCard}}</p>
        </li>
        <li>
            <p>Screen : {{item.screen}}</p>
        </li>
        <li>
            <p>Screen resolution : {{item.resolution}}</p>
        </li>
        <li>
            <p>Battery : {{item.battery}}</p>
        </li>



        <li>
            <p>

                Bluetooth : {{item.bluetooth}}
            </p>
        </li>

        <li>
            <p>
                Wifi : {{item.wifi}}

            </p>
        </li>
        <li>
            <p>
                USB : {{item.usb}}

            </p>
        </li>
        <li>

            <p>

                Finger Print : {{item.fingerPrint}}
            </p>

       
    </ul>
</div>