<div class="item-feature">



    <h5>Features :</h5>
    <ul>



        <li>
            <p>Realese Date : {{item.releaseDate}} </p>
        </li>
        <li>
            <p>Dimensions : {{item.dimensions}}</p>
        </li>
        <li>
            <p>Weight : {{item.weight}}</p>
        </li>
        <li>
            <p>OS : {{item.os}}</p>
        </li>
        <li>
            <p>Internal Memory : {{item.internalMemory}}</p>
        </li>
        <li>
            <p>Ram : {{item.ram}}</p>
        </li>
        <li>
            <p>Processor : {{item.processor}}</p>
        </li>
        <li>
            <p>GPU : {{item.gpu}}</p>
        </li>
        <li>
            <p>Screen Size : {{item.screenSize}}</p>
        </li>
        <li>
            <p>Screen Type : {{item.screenType}}</p>
        </li>
        <li>
            <p>Screen resolution : {{item.resolution}}</p>
        </li>
        <li>
            <p>Battery : {{item.battery}}</p>
        </li>
        <li>
            <p>Front Camera : {{item.frontCamera}}</p>
        </li>
        <li>
            <p>Back Camera: {{item.backCamera}}</p>
        </li>
        <li>
            <p>Sim : {{item.simSupport}}</p>
        </li>
        <li>
            <p>SD Card : {{item.cardSlot}}</p>
        </li>


        <li>
            <p>

                Bluetooth : {{item.bluetooth}}
            </p>
        </li>

        <li>
            <p>
                Wifi : {{item.wifi}}

            </p>
        </li>
        <li>
            <p>
                3G : {{item.threeG}}

            </p>
        </li>
        <li>
            <p>

                4G : {{item.fourG}}
            </p>

        </li>
        <li>
            <p>

                5G : {{item.fiveG}}
            </p>
        </li>
        <li>
            <p>

                Radio : {{item.radio}}
            </p>
        </li>
    </ul>
</div>