<div class="item-feature">



    <h5>Features :</h5>
    <ul>


        <li>
            <p>Model : {{item.model}} </p>
        </li>
        <li>
            <p>Display : {{item.display}}</p>
        </li>
        <li>
            <p>Battery Capacity: {{item.bateryCapacity}}</p>
        </li>
        <li>
            <p>Battery Type : {{item.batteryType}}</p>
        </li>
        <li>
            <p>Input Port : {{item.inputPort}}</p>
        </li>
        <li>
            <p>Output Port : {{item.outputPort}}</p>
        </li>
      
    </ul>
</div>