<div class="item-feature">
    <h5>Features :</h5>
    <ul>
        <li>
            <p>Strap Material : {{item.strapMaterial}} </p>
        </li>
        <li>
            <p>Water Resistance : {{item.waterResistance}}</p>
        </li>
        <li>
            <p>OS : {{item.os}}</p>
        </li>
        <li>
            <p>Rom : {{item.rom}}</p>
        </li>
        <li>
            <p>Ram : {{item.ram}}</p>
        </li>
        <li>
            <p> Speaker : {{item.speaker}}</p>       
        </li>
        <li>
            <p>Battery Capacity: {{item.batteryCapacity}}</p>
        </li>
        <li>
            <p>Battery Life : {{item.batteryLife}}</p>
        </li>
        <li>
            <p>Mode : {{item.mode}}</p>
        </li>
        <li>
            <p>Screen Size : {{item.screenSize}}</p>
        </li>
        <li>
            <p>Screen Type : {{item.screenType}}</p>
        </li>
        <li>
            <p>Screen resolution : {{item.resolution}}</p>
        </li>
        <li>
            <p>Microphone : {{item.micTech}}</p>
        </li>
        <li>
            <p>SD Card : {{item.sdCard}}</p>
        </li>
        <li>
            <p>
                Wifi : {{item.wifi}}

            </p>
        </li>
    </ul>
</div>