<div class="item-feature">



    <h5>Features :</h5>
    <ul>

        <li>
            <p>Screen Size : {{item.screenSize}}</p>
        </li>
        <li>
            <p>Screen Type : {{item.screenType}}</p>
        </li>
        <li>
            <p>Screen resolution : {{item.resolution}}</p>
        </li>
        <li>
            <p>3D : {{item.threeD}} </p>
        </li>
        <li>
            <p>HD : {{item.HD}}</p>
        </li>
        <li>
            <p>4K : {{item.fourK}}</p>
        </li>
        <li>
            <p>Smart Tv : {{item.SmartTv}}</p>
        </li>
    </ul>
</div>