<div class="item-feature">
    <h5>Features :</h5>
    <ul>
        <li>
            <p>Model : {{item.model}} </p>
        </li>
        <li>
            <p>Water Proof : {{item.waterProof}}</p>
        </li>
        <li>
            <p>Wearing Type : {{item.wearingType}}</p>
        </li>
        <li>

            <p>Volume Control : {{item.volumeControl}}</p>
        </li>
        <li>
            <p>Charging Time : {{item.chargingTime}}</p>
        </li>
        <li>
            <p>Play Time : {{item.playTime}}</p>
        </li>
        <li>
            <p>Battery Capacity Buds : {{item.batteryCapBud}}</p>
        </li>
        <li>
            <p>Battery Capacity Case : {{item.batteryCapCase}}</p>
        </li>
        <li>
            <p>Bluetooth version : {{item.BTVersion}}</p>
        </li>
        <li>
            <p>Bluetooth Range : {{item.BTRange}}</p>
        </li>
        <li>
            <p>Microphone : {{item.microphone}}</p>
        </li>
    </ul>
</div>